In [6]:
import nlpaug.augmenter.word as naw
import pandas as pd

In [7]:
df = pd.read_csv('all_agree.csv', encoding = "ISO-8859-1")
# remove unused columns
df = df.drop('label', axis=1)
df = df.dropna()

In [8]:
df.head()

                                               title  label_score
0  Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...          0.0
1  Malaysia Sudutkan RI: Isu Kabut Asap hingga In...          0.0
2  Viral! Driver Ojol di Bekasi Antar Pesanan Mak...          1.0
3  Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...          0.0
4  MPR: Amandemen UUD 1945 Tak Akan Melebar ke Ma...          0.0

In [9]:
df.head()

                                               title  label_score
0  Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...          0.0
1  Malaysia Sudutkan RI: Isu Kabut Asap hingga In...          0.0
2  Viral! Driver Ojol di Bekasi Antar Pesanan Mak...          1.0
3  Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...          0.0
4  MPR: Amandemen UUD 1945 Tak Akan Melebar ke Ma...          0.0

In [10]:
import torch
device = "cuda:0" if torch.cuda.is_available() else "cpu"

In [11]:
# Create the augmentation object
aug = naw.ContextualWordEmbsAug(model_path='indobenchmark/indobert-base-p1', action="insert", device=device)
df["title"] = df["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [12]:
df.shape

(8613, 2)

In [13]:
df.head()

                                               title  label_score
0  masuk radar parts pilwalkot medan, menantu bkp...          0.0
1  malaysia bekas sudutkan ri : mach isu agunan k...          0.0
2  viral! driver ojol di bekasi menengah antar kl...          1.0
3  kemensos kod salurkan rp mewarnai 7, 3 m provi...          0.0
4  mpr : amandemen uud 1945 tak purna akan sampai...          0.0

In [14]:
df.to_csv('all_agree_insert.csv', index=False)