In [1]:
import pandas as pd

In [22]:
merged = pd.read_csv('merged.csv')
new = pd.read_csv('https://raw.githubusercontent.com/ruzcmc/ClickbaitIndo-textclassifier/master/primary-dataset.csv')

In [23]:
dataset = pd.read_csv('dataset.csv', delimiter=";")

In [25]:
merged = merged.drop(['source', 'source', 'date', 'time', 'category', 'content', 'url', 'label'], axis=1)
merged.head()

                                               title  label_score
0  Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...            0
1  Malaysia Sudutkan RI: Isu Kabut Asap hingga In...            0
2  Viral! Driver Ojol di Bekasi Antar Pesanan Mak...            1
3  Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...            0
4  Terkait Mayat Bayi Mengenaskan di Tangerang, S...            0

In [27]:
new = new.rename(columns={"text":"title",
                          "label":"label_score"})
new.head()

                                               title  label_score
0  Purnomo Serahkan Surat Mundur dari Pilkada  ke...            0
1  Pemkot Bekasi Teken Aturan Tempat Hiburan Menu...            0
2  New Normal 5 Juni, ASN Tak Mesti Berbondong-bo...            0
3  WHO Waspadai Banyak Kematian di Puncak Kedua P...            0
4                   VIDEO: Trump Ancam Tutup Twitter            1

In [34]:
dataset = dataset.dropna(axis=0)
dataset = dataset.drop(['link', 'tahun'], axis=1)
dataset.head()

                                               title  label_score
0  Korban Banjir Jati Asih Dapat Bantuan Baju hin...          0.0
1  Jokowi Akan Habiskan Malam Tahun Baru Bareng K...          0.0
2  Nias Diguncang Gempa Berkekuatan 5,2 Magnitudo...          0.0
3  Pemprov DKI Tak Akan Beri Izin DWP Digelar Tah...          0.0
4  Jurus Edhy Berantas Pencuri Ikan: Tahun 2020, ...          0.0

In [35]:
df = pd.concat([merged, new, dataset])
print(df.shape)
df

(18054, 2)

                                                title  label_score
0   Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...          0.0
1   Malaysia Sudutkan RI: Isu Kabut Asap hingga In...          0.0
2   Viral! Driver Ojol di Bekasi Antar Pesanan Mak...          1.0
3   Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...          0.0
4   Terkait Mayat Bayi Mengenaskan di Tangerang, S...          0.0
..                                                ...          ...
55  Gigih Berakting Meninggal selama 321 Hari, Pri...          1.0
56  8 Zodiak Paling Beruntung Hari Ini Jumat 7 Jun...          1.0
57  Daftar Presiden Indonesia yang Lahir Bulan Jun...          1.0
58  Pegawai Dapat Fasilitas Tempat Tinggal di Atas...          0.0
59  KPK Ungkap Korban Pungli Rp 4 M di Rutan Capai...          0.0

[18054 rows x 2 columns]

In [36]:
# df.to_csv('18k_not_augmented.csv', index=False)

In [37]:
import nlpaug.augmenter.word as naw

In [38]:
tes = df.head()

In [40]:
# Create the augmentation object
aug = naw.RandomWordAug(action="swap")
tes["title"] = tes["title"].apply(lambda x: ' '.join(aug.augment(x)))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13640\2974082387.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tes["title"] = tes["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [43]:
# Create the augmentation object
aug = naw.RandomWordAug(action="swap")
df["title"] = df["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [48]:
df.tail(10)

                                                title  label_score
50  Disebut oleh Kejam Rusli Inara, Manurung Eva B...          1.0
51  Spears britney Ditampar Sekuriti NBA Bintang s...          1.0
52  Banjir Hujatan Jelang Dinikahi Denny Caknan, B...          1.0
53  Viral Nenek Dituduh Curi 20 Milik Kelapa Buah ...          1.0
54  ART susi Ferdy Sambo Mendadak Viral Lagi, Meng...          1.0
55  Meninggal gigih Berakting selama 321 Hari, Ini...          1.0
56  8 zodiak Beruntung Paling Ini Hari Jumat Juni ...          1.0
57  Presiden daftar Indonesia yang Lahir Juni, Bul...          1.0
58  Pegawai Fasilitas Tempat Dapat di Atas Tinggal...          0.0
59  Ungkap Korban KPK Pungli Rp 4 M di Capai Rutan...          0.0

In [49]:
# df.to_csv('18k_augmented.csv', index=False)