In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("train 8k latest.csv")
# data = data.drop(['Unnamed: 0', 'label_score_x', 'label', 'sub-category', 'original_title', 'category', 'sub-category-original', 'original_content', "has_exclamation",	"has_question",	'has_number',	'mark_count',	'total_character'], axis=1)
# data = data.rename(columns={"label_score_y":"label"})
data = data.dropna()
data.head()

,Unnamed: 0.1,Unnamed: 0,title,category,has_exclamation,has_question,has_number,num_count,mark_count,original_title,label_score
0,101,101,guru tinggi muhammadiyah indonesia tolak revis...,Berita_indonesia,0,0,1,2,0,40 Perguruan Tinggi Muhammadiyah se-Indonesia ...,0
1,8448,8448,tiga bulan nikah onadio ronaldo karunia anak p...,Hiburan_&_Selebriti,0,0,0,0,1,"Tiga Bulan Nikah, Onadio Ronaldo Dikaruniai An...",1
2,7372,7372,sosok sukanto tanoto yang bakal buat ada lahan...,Berita_indonesia,0,0,0,0,1,Sosok Sukanto Tanoto yang Bakal Buat Pengadaan...,1
3,5720,5720,anggota dprd provinsi sumut lantik,Regional_&_Daerah,0,0,1,3,0,100 Anggota DPRD Provinsi Sumut Dilantik,0
4,6806,6806,polisi di meksiko temu mayat yang mutilasi,Berita_indonesia,0,0,1,2,0,Polisi di Meksiko Temukan 44 Mayat yang Dimuti...,0

In [3]:
ori = data
delete = data
insert = data
substitute = data
swap = data

In [5]:
import nlpaug.augmenter.word as naw

In [8]:
# Create the augmentation object
aug = naw.RandomWordAug(action="delete")
delete["title"] = delete["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [9]:
# Create the augmentation object
import torch
device = "cuda" if torch.cuda.is_available() else "cpu"
aug = naw.ContextualWordEmbsAug(model_path='indobenchmark/indobert-base-p1', action="insert", device=device)
insert["title"] = insert["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [10]:
# Create the augmentation object
aug = naw.RandomWordAug(action="substitute")
substitute["title"] = substitute["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [11]:
# Create the augmentation object
aug = naw.RandomWordAug(action="swap")
swap["title"] = swap["title"].apply(lambda x: ' '.join(aug.augment(x)))

In [12]:
df = pd.concat([ori, delete, insert, substitute, swap])
df.shape

(29935, 11)

In [13]:
# df.to_csv('ori+delete+insert+substitute+swap.csv', index=False)